.pbmit-ihbox-style-2 .pbmit-icon-type-icon,
.pbmit-ihbox-style-2 .pbmit-ihbox-svg-wrapper,
.pbmit-ihbox-style-2 .pbmit-icon-type-icon svg,
.pbmit-ihbox-style-2 .pbmit-ihbox-icon-type-text,
.pbmit-ihbox-style-2 {
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
.pbmit-ihbox-style-2 {
	display: inline-block;
}
.pbmit-ihbox-style-2 .pbmit-ihbox-contents {
	display: inline-flex;
	align-items: center;
}
.pbmit-ihbox-style-2 .pbmit-icon-wrap {
	display: grid;
}
.pbmit-ihbox-style-2 .pbmit-ihbox-svg-wrapper,
.pbmit-ihbox-style-2 .pbmit-ihbox-icon {
	margin-right: 20px;
	display: inline-block;
}
.pbmit-ihbox-style-2 .pbmit-icon-type-icon,
.pbmit-ihbox-style-2 .pbmit-ihbox-svg-wrapper,
.pbmit-ihbox-style-2 .pbmit-ihbox-icon-type-text {
	min-width: 65px;
	height: 65px;
	border-radius: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-size: 30px;
	z-index: 1;
	position: relative;
	fill: var(--pbmit-xhyre-white-color);
	color: var(--pbmit-xhyre-white-color);
	background-color: var(--pbmit-xhyre-global-color);
}
.pbmit-ihbox-style-2 .pbmit-ihbox-icon-type-image img {
	width: 65px;
	height: auto;
	border-radius: 6px;
}
.pbmit-ihbox-style-2 .pbmit-ihbox-icon-type-text {
	font-size: 24px;
	line-height: 66px;
}
.pbmit-ihbox-style-2:hover .pbmit-ihbox-svg-wrapper,
.pbmit-ihbox-style-2:hover .pbmit-icon-type-icon,
.pbmit-ihbox-style-2:hover .pbmit-ihbox-icon-type-text {
	transform: translateY(-5px);
}
.pbmit-ihbox-style-2 .pbmit-icon-type-icon::after,
.pbmit-ihbox-style-2 .pbmit-ihbox-svg-wrapper::after,
.pbmit-ihbox-style-2 .pbmit-ihbox-icon-type-text::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	border-radius: 50%;
	z-index: -1;
	transform: scale(0);
	background-color: var(--pbmit-xhyre-blackish-color);
	transition: all 200ms linear;
	transition-delay: 0.1s;
}
.pbmit-ihbox-style-2:hover .pbmit-icon-type-icon::after,
.pbmit-ihbox-style-2:hover .pbmit-ihbox-svg-wrapper::after,
.pbmit-ihbox-style-2:hover .pbmit-ihbox-icon-type-text::after {
	transform: scale(1.1);
}
.pbmit-ihbox-style-2 .pbmit-element-title,
.pbmit-ihbox-style-2 .pbmit-element-subtitle {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}
.pbmit-ihbox-style-2 .pbmit-element-subtitle a,
.pbmit-ihbox-style-2 .pbmit-element-subtitle {
	color: var(--pbmit-xhyre-global-color);
}
.pbmit-ihbox-style-2 .pbmit-element-subtitle a:hover {
	color: var(--pbmit-xhyre-blackish-color);
}
.pbmit-ihbox-style-2 .pbmit-content-wrap {
	padding-top: 15px;
}
.pbmit-infobox-direction .pbmit-ihbox-style-2 .pbmit-ihbox-contents {
	flex-direction: row-reverse;
}
.pbmit-infobox-direction .pbmit-ihbox-style-2 .pbmit-ihbox-icon {
	margin: 0;
	margin-left: 20px;
}
.pbmit-infobox-direction .elementor-widget-container,
.pbmit-infobox-direction .pbmit-ihbox-style-2 .pbmit-title-wrap {
	text-align: right;
}
/* Bg Color */
.pbmit-elementor-bg-color-secondary .pbmit-ihbox.pbmit-ihbox-style-2 .pbmit-element-subtitle,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox.pbmit-ihbox-style-2 .pbmit-element-subtitle {
	color: var(--pbmit-xhyre-global-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-2 .pbmit-ihbox-svg-wrapper,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-2 .pbmit-icon-type-icon,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-2 .pbmit-ihbox-icon-type-text,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-2 .pbmit-ihbox-svg-wrapper,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-2 .pbmit-icon-type-icon,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-2 .pbmit-ihbox-icon-type-text {
	background-color: var(--pbmit-xhyre-blackish-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-2:hover .pbmit-ihbox-svg-wrapper svg,
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-2:hover .pbmit-icon-type-icon svg,
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-2:hover .pbmit-ihbox-icon-type-text,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-2:hover .pbmit-ihbox-svg-wrapper svg,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-2:hover .pbmit-icon-type-icon svg,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-2:hover .pbmit-ihbox-icon-type-text,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-2:hover .pbmit-ihbox-svg-wrapper svg,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-2:hover .pbmit-icon-type-icon svg,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-2:hover .pbmit-ihbox-icon-type-text,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-2:hover .pbmit-ihbox-svg-wrapper svg,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-2:hover .pbmit-icon-type-icon svg,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-2:hover .pbmit-ihbox-icon-type-text {
	fill: var(--pbmit-xhyre-global-color);
	color: var(--pbmit-xhyre-global-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-2:hover .pbmit-ihbox-svg-wrapper::after,
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-2:hover .pbmit-icon-type-icon::after,
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-2:hover .pbmit-ihbox-icon-type-text::after,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-2:hover .pbmit-ihbox-svg-wrapper::after,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-2:hover .pbmit-icon-type-icon::after,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-2:hover .pbmit-ihbox-icon-type-text::after,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-2:hover .pbmit-ihbox-svg-wrapper::after,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-2:hover .pbmit-icon-type-icon::after,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-2:hover .pbmit-ihbox-icon-type-text::after,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-2:hover .pbmit-ihbox-svg-wrapper::after,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-2:hover .pbmit-icon-type-icon::after,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-2:hover .pbmit-ihbox-icon-type-text::after {
	background-color: var(--pbmit-xhyre-white-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-ihbox.pbmit-ihbox-style-2 .pbmit-element-subtitle,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox.pbmit-ihbox-style-2 .pbmit-element-subtitle {
	color: var(--pbmit-xhyre-blackish-color);
}
@media (max-width: 767px) {
	.pbmit-infobox-direction .pbmit-ihbox-style-2 .pbmit-ihbox-contents {
		flex-direction: inherit;
	}
	.pbmit-infobox-direction .pbmit-ihbox-style-2 .pbmit-ihbox-icon {
		margin: 0 20px 0 0;
	}
	.pbmit-infobox-direction .elementor-widget-container,
	.pbmit-infobox-direction .pbmit-ihbox-style-2 .pbmit-title-wrap {
		text-align: left;
	}
}