.pbmit-base-icon-d1:before { content: '\e800'; } /* '' */
.pbmit-base-icon-quote:before { content: '\e801'; } /* '' */
.pbmit-base-icon-telegram:before { content: '\e802'; } /* '' */
.pbmit-base-icon-heart:before { content: '\e803'; } /* '' */
.pbmit-base-icon-search-2:before { content: '\e804'; } /* '' */
.pbmit-base-icon-quote-1:before { content: '\e805'; } /* '' */
.pbmit-base-icon-right-open:before { content: '\e806'; } /* '' */
.pbmit-base-icon-left-open:before { content: '\e807'; } /* '' */
.pbmit-base-icon-user:before { content: '\e808'; } /* '' */
.pbmit-base-icon-chat-4:before { content: '\e809'; } /* '' */
.pbmit-base-icon-folder-open:before { content: '\e80a'; } /* '' */
.pbmit-base-icon-tags:before { content: '\e80b'; } /* '' */
.pbmit-base-icon-email:before { content: '\e80c'; } /* '' */
.pbmit-base-icon-search-1:before { content: '\e80d'; } /* '' */
.pbmit-base-icon-location:before { content: '\e80e'; } /* '' */
.pbmit-base-icon-right-big:before { content: '\e80f'; } /* '' */
.pbmit-base-icon-calendar-silhouette:before { content: '\e810'; } /* '' */
.pbmit-base-icon-down-open-big:before { content: '\e811'; } /* '' */
.pbmit-base-icon-up-open-big:before { content: '\e812'; } /* '' */
.pbmit-base-icon-cancel:before { content: '\e813'; } /* '' */
.pbmit-base-icon-angle-right:before { content: '\e814'; } /* '' */
.pbmit-base-icon-arrow-right:before { content: '\e815'; } /* '' */
.pbmit-base-icon-aside:before { content: '\e816'; } /* '' */
.pbmit-base-icon-music:before { content: '\e817'; } /* '' */
.pbmit-base-icon-plus:before { content: '\e818'; } /* '' */
.pbmit-base-icon-videocam:before { content: '\e819'; } /* '' */
.pbmit-base-icon-link-1:before { content: '\e81a'; } /* '' */
.pbmit-base-icon-gallery:before { content: '\e81b'; } /* '' */
.pbmit-base-icon-right-small:before { content: '\e81c'; } /* '' */
.pbmit-base-icon-left-small:before { content: '\e81d'; } /* '' */
.pbmit-base-icon-angle-left:before { content: '\e81e'; } /* '' */
.pbmit-base-icon-arrow-left:before { content: '\e81f'; } /* '' */
.pbmit-base-icon-arrow-right-1:before { content: '\e820'; } /* '' */
.pbmit-base-icon-star-2:before { content: '\e821'; } /* '' */
.pbmit-base-icon-dollar:before { content: '\e822'; } /* '' */
.pbmit-base-icon-location-pin:before { content: '\e823'; } /* '' */
.pbmit-base-icon-bottom-right:before { content: '\e824'; } /* '' */
.pbmit-base-icon-shopping-bag:before { content: '\e826'; } /* '' */
.pbmit-base-icon-phone-1:before { content: '\e827'; } /* '' */
.pbmit-base-icon-phone-volume-solid-1:before { content: '\e828'; } /* '' */
.pbmit-base-icon-menu-1:before { content: '\e829'; } /* '' */
.pbmit-base-icon-tag:before { content: '\e82a'; } /* '' */
.pbmit-base-icon-user-1:before { content: '\e82b'; } /* '' */
.pbmit-base-icon-align-left:before { content: '\e82c'; } /* '' */
.pbmit-base-icon-arrow-right-3:before { content: '\e82d'; } /* '' */
.pbmit-base-icon-sticky:before { content: '\e830'; } /* '' */
.pbmit-base-icon-pin-outline:before { content: '\e831'; } /* '' */
.pbmit-base-icon-clock:before { content: '\e832'; } /* '' */
.pbmit-base-icon-phone:before { content: '\e833'; } /* '' */
.pbmit-base-icon-clock-1:before { content: '\e836'; } /* '' */
.pbmit-base-icon-star:before { content: '\e843'; } /* '' */
.pbmit-base-icon-calendar-1:before { content: '\e844'; } /* '' */
.pbmit-base-icon-share:before { content: '\e845'; } /* '' */
.pbmit-base-icon-bookmark:before { content: '\e849'; } /* '' */
.pbmit-base-icon-heart-empty:before { content: '\e84c'; } /* '' */
.pbmit-base-icon-forward:before { content: '\e855'; } /* '' */
.pbmit-base-icon-left-dir:before { content: '\e859'; } /* '' */
.pbmit-base-icon-right-dir:before { content: '\e85a'; } /* '' */
.pbmit-base-icon-comment-2:before { content: '\e85f'; } /* '' */
.pbmit-base-icon-close-circular-button-symbol:before { content: '\e860'; } /* '' */
.pbmit-base-icon-location-dot-solid:before { content: '\e864'; } /* '' */
.pbmit-base-icon-chat-3:before { content: '\e867'; } /* '' */
.pbmit-base-icon-arroba:before { content: '\e86a'; } /* '' */
.pbmit-base-icon-facebook-f:before { content: '\e871'; } /* '' */
.pbmit-base-icon-linkedin-in:before { content: '\e873'; } /* '' */
.pbmit-base-icon-star-1:before { content: '\e889'; } /* '' */
.pbmit-base-icon-user-3:before { content: '\e88a'; } /* '' */
.pbmit-base-icon-calendar-3:before { content: '\e88b'; } /* '' */
.pbmit-base-icon-xhyre-star:before { content: '\e88d'; } /* '' */
.pbmit-base-icon-download:before { content: '\e88f'; } /* '' */
.pbmit-base-icon-whatsapp:before { content: '\e891'; } /* '' */
.pbmit-base-icon-clock-3:before { content: '\e892'; } /* '' */
.pbmit-base-icon-twitter-2:before { content: '\e895'; } /* '' */
.pbmit-base-icon-right-1:before { content: '\e896'; } /* '' */
.pbmit-base-icon-tick-1:before { content: '\e89a'; } /* '' */
.pbmit-base-icon-doc-file-format:before { content: '\e89b'; } /* '' */
.pbmit-base-icon-pdf-file-format-symbol-1:before { content: '\e89c'; } /* '' */
.pbmit-base-icon-checked:before { content: '\e8a0'; } /* '' */
.pbmit-base-icon-tiktok:before { content: '\e8a1'; } /* '' */
.pbmit-base-icon-search:before { content: '\e8c4'; } /* '' */
.pbmit-base-icon-cart-bag:before { content: '\e8c5'; } /* '' */
.pbmit-base-icon-black-arrow-1:before { content: '\e8dd'; } /* '' */
.pbmit-base-icon-share-2:before { content: '\e8e0'; } /* '' */
.pbmit-base-icon-up-right-arrow-1:before { content: '\e8ea'; } /* '' */
.pbmit-base-icon-menu:before { content: '\f0c9'; } /* '' */
.pbmit-base-icon-mail-alt:before { content: '\f0e0'; } /* '' */
.pbmit-base-icon-comment-empty:before { content: '\f0e5'; } /* '' */
.pbmit-base-icon-chat-empty:before { content: '\f0e6'; } /* '' */
.pbmit-base-icon-angle-double-right:before { content: '\f101'; } /* '' */
.pbmit-base-icon-reply:before { content: '\f112'; } /* '' */
.pbmit-base-icon-folder-open-empty:before { content: '\f115'; } /* '' */
.pbmit-base-icon-ok-squared:before { content: '\f14a'; } /* '' */
.pbmit-base-icon-youtube-play:before { content: '\f16a'; } /* '' */
.pbmit-base-icon-instagram:before { content: '\f16d'; } /* '' */
.pbmit-base-icon-flickr:before { content: '\f16e'; } /* '' */
.pbmit-base-icon-paper-plane:before { content: '\f1d8'; } /* '' */
.pbmit-base-icon-pinterest:before { content: '\f231'; } /* '' */
.pbmit-base-icon-vimeo-1:before { content: '\f27d'; } /* '' */
.pbmit-base-icon-reddit:before { content: '\f281'; } /* '' */
.pbmit-base-icon-facebook-squared:before { content: '\f308'; } /* '' */
.pbmit-base-icon-linkedin-squared:before { content: '\f30c'; } /* '' */
