.pbmit-element-card-box-style-1 .pbmit-content-box .pbmit-card-box-wrapper-inner {
	border-radius: 6px;
	background-color: var(--pbmit-xhyre-light-bg-color);
}
.pbmit-element-card-box-style-1 .pbmit-card-box {
	padding: 0 70px;
}
.pbmit-element-card-box-style-1 .pbmit-content-box .pbmit-card-box-img {
	text-align: left;
}
.pbmit-element-card-box-style-1 .pbmit-content-box .pbmit-card-box-item-image img{
	width: 100%;
}
.pbmit-element-card-box-style-1 .pin-spacer:nth-child(odd) .pbmit-card-box-img .pbmit-card-box-item-image img {
	border-radius: 0 6px 6px 0;
}
.pbmit-element-card-box-style-1 .pin-spacer:nth-child(even) .pbmit-card-box-img .pbmit-card-box-item-image img {
	border-radius: 6px 0 0 6px;
}
.pbmit-element-card-box-style-1 .pbmit-card-box-wrap {
	display: inline-flex;
	align-items: center;
	padding: 15px 30px;
	border-radius: 6px;
	margin-bottom: 40px;
	color: var(--pbmit-xhyre-white-color);
	background-color: var(--pbmit-xhyre-global-color);
}
.pbmit-element-card-box-style-1 .pbmit-card-box-subtitle h4 {
	padding-left: 5px;
}
.pbmit-element-card-box-style-1 .pbmit-card-box-subtitle h4,
.pbmit-element-card-box-style-1 .pbmit-card-box-number h4 {
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	color: var(--pbmit-xhyre-white-color);
}
.pbmit-element-card-box-style-1 .pbmit-card-box-number h4{
	position: relative;
}
.pbmit-element-card-box-style-1 .pbmit-card-box-number h4::after {
	content: '.';
	display: inline-block;
}
.pbmit-element-card-box-style-1 .pbmit-card-box-title h2 {
	font-size: 30px;
	line-height: 34px;
	margin-bottom: 20px;
	color: var(--pbmit-xhyre-global-color);
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.pbmit-element-card-box-style-1 .pbmit-card-box-desc {
	margin-bottom: 20px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.pbmit-element-card-box-style-1 .pbmit-card-box-line-inner p {
	font-size: 16px;
	line-height: 40px;
	margin-bottom: 10px;
	position: relative;
	padding-left: 30px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	color: var(--pbmit-xhyre-secondary-color);
}
.rtl .pbmit-element-card-box-style-1 .pbmit-card-box-line-inner p {
	padding-right: 35px;
	padding-left: inherit;
}
.pbmit-element-card-box-style-1 .pbmit-card-box-line-inner p::before {
	content: '\e89a';
	position: absolute;
	font-family: 'pbminfotech-base-icons';
	top: 50%;
	left: 0;
	font-size: 12px;
	color: var(--pbmit-xhyre-global-color);
	transform: translate(0,-50%);
}
.rtl .pbmit-element-card-box-style-1 .pbmit-card-box-line-inner p::before {
	right: 0;
	left: inherit;
}
.pbmit-element-card-box-style-1 .pbmit-content-box .pin-spacer:nth-child(odd) .pbmit-card-box-wrapper-inner {
	flex-direction: row-reverse;
}
/* Bg Color */ 
.pbmit-elementor-bg-color-light .pbmit-element-card-box-style-1 .pbmit-content-box .pbmit-card-box-wrapper-inner {
	background-color: var(--pbmit-xhyre-white-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-element-card-box-style-1 .pbmit-card-box-line-inner p::before,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-card-box-style-1 .pbmit-card-box-line-inner p::before {
	color: var(--pbmit-xhyre-blackish-color);
}
.pbmit-elementor-bg-color-blackish .pbmit-element-card-box-style-1 .pbmit-content-box .pbmit-card-box-wrapper-inner {
	background-color: var(--pbmit-xhyre-blackish-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-card-box-style-1 .pbmit-content-box .pbmit-card-box-wrapper-inner {
	background-color: var(--pbmit-xhyre-secondary-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-element-card-box-style-1 .pbmit-content-box .pbmit-card-box-wrapper-inner,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-card-box-style-1 .pbmit-content-box .pbmit-card-box-wrapper-inner {
	background-color: var(--pbmit-xhyre-global-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-element-card-box-style-1 .pbmit-card-box-title h2,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-card-box-style-1 .pbmit-card-box-title h2,
.pbmit-elementor-bg-color-gradient .pbmit-element-card-box-style-1 .pbmit-card-box-line-inner p,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-card-box-style-1 .pbmit-card-box-line-inner p,
.pbmit-elementor-bg-color-secondary .pbmit-element-card-box-style-1 .pbmit-card-box-line-inner p,
.pbmit-elementor-bg-color-blackish .pbmit-element-card-box-style-1 .pbmit-card-box-line-inner p,
.pbmit-elementor-bg-color-gradient .pbmit-element-card-box-style-1 .pbmit-card-box-desc,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-card-box-style-1 .pbmit-card-box-desc,
.pbmit-elementor-bg-color-secondary .pbmit-element-card-box-style-1 .pbmit-card-box-desc,
.pbmit-elementor-bg-color-blackish .pbmit-element-card-box-style-1 .pbmit-card-box-desc {
	color: var(--pbmit-xhyre-white-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-element-card-box-style-1 .pbmit-card-box-wrap,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-card-box-style-1 .pbmit-card-box-wrap {
	background-color: var(--pbmit-xhyre-blackish-color);
}
@media (max-width: 991px) {
	.pbmit-element-card-box-style-1 .pbmit-card-box {
		padding: 30px;
	}
	.pbmit-element-card-box-style-1 .pbmit-content-box .pbmit-card-box-wrapper {
		margin-bottom: 30px;
	}
}
@media (max-width: 575px) {
	.pbmit-element-card-box-style-1 .pbmit-card-box-button {
		display: block;
	}
	.pbmit-element-card-box-style-1 .pbmit-card-text-btn {
		padding: 20px 0 0 0;
	}
}