.pbmit-ihbox-style-5 .pbmit-ihbox-contents {
	display: inline-flex;
	align-items: center;
}
.pbmit-ihbox-style-5 .pbmit-element-title {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 0;
	color: var(--pbmit-xhyre-global-color)
}
.pbmit-ihbox-style-5 .pbmit-element-title a {
	color: var(--pbmit-xhyre-global-color);
}
.pbmit-ihbox-style-5 .pbmit-element-title a:hover {
	color: var(--pbmit-xhyre-blackish-color);
}
.pbmit-ihbox-style-5 .pbmit-ihbox-svg-wrapper,
.pbmit-ihbox-style-5 .pbmit-ihbox-icon {
	margin-right: 15px;
	display: inline-block;
}
.pbmit-ihbox-style-5 .pbmit-heading-desc {
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	color: var(--pbmit-xhyre-blackish-color);
}
.pbmit-ihbox-style-5 .pbmit-ihbox-icon-wrapper img {
	max-width: 50px;
	height: auto;
	border-radius: 6px;
}
.pbmit-ihbox-style-5 .pbmit-ihbox-svg-wrapper,
.pbmit-ihbox-style-5 .pbmit-ihbox-icon-wrapper {
	font-size: 50px;
	line-height: 50px;
	color: var(--pbmit-xhyre-global-color)
}
.pbmit-ihbox-style-5 .pbmit-ihbox-svg-wrapper svg,
.pbmit-ihbox-style-5 .pbmit-ihbox-icon-wrapper svg {
	fill: var(--pbmit-xhyre-global-color);
	margin-bottom: 5px;
}
.pbmit-ihbox-style-5 .pbmit-element-subtitle {
	font-size: 15px;
	line-height: 20px;
	margin: 0;
}
/* Bg Color */
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-5 .pbmit-ihbox-icon-wrapper svg,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-5 .pbmit-ihbox-icon-wrapper svg,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-5 .pbmit-ihbox-svg-wrapper svg,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-5 .pbmit-ihbox-svg-wrapper svg {
	fill: var(--pbmit-xhyre-white-color)
}
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-5 .pbmit-ihbox-svg-wrapper,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-5 .pbmit-ihbox-svg-wrapper,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-5 .pbmit-ihbox-icon-wrapper,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-5 .pbmit-ihbox-icon-wrapper,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-5 .pbmit-element-title,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-5 .pbmit-element-title {
	color: var(--pbmit-xhyre-white-color)
}
.pbmit-elementor-bg-color-blackish .pbmit-elementor-bg-color-white .pbmit-ihbox-style-5.pbmit-ihbox .pbmit-element-title a {
	color: var(--pbmit-xhyre-global-color);
}
.pbmit-elementor-bg-color-blackish .pbmit-elementor-bg-color-white .pbmit-ihbox-style-5.pbmit-ihbox .pbmit-element-title a:hover {
	color: var(--pbmit-xhyre-blackish-color);
}
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-5 .pbmit-heading-desc {
	color: var(--pbmit-xhyre-blackish-color);
}