.pbmit-ihbox-style-10 .pbmit-icon-type-icon,
.pbmit-ihbox-style-10 .pbmit-ihbox-svg-wrapper,
.pbmit-ihbox-style-10 .pbmit-ihbox-icon-type-text,
.pbmit-ihbox-style-10 {
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
.pbmit-ihbox-style-10 {
	display: inline-block;
}
.pbmit-ihbox-style-10 .pbmit-ihbox-contents {
	display: inline-flex;
	align-items: flex-start;
}
.pbmit-ihbox-style-10 .pbmit-icon-wrap {
	display: grid;
}
.pbmit-ihbox-style-10 .pbmit-ihbox-svg-wrapper,
.pbmit-ihbox-style-10 .pbmit-ihbox-icon {
	margin-right: 20px;
	display: inline-block;
}
.pbmit-ihbox-style-10 .pbmit-icon-type-icon,
.pbmit-ihbox-style-10 .pbmit-ihbox-svg-wrapper,
.pbmit-ihbox-style-10 .pbmit-ihbox-icon-type-text {
	min-width: 60px;
	height: 60px;
	line-height: 70px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-align: center;
	font-size: 26px;
	z-index: 1;
	position: relative;
	fill: var(--pbmit-xhyre-global-color);
	color: var(--pbmit-xhyre-global-color);
	background-color: var(--pbmit-xhyre-light-bg-color);
}
.pbmit-ihbox-style-10 .pbmit-ihbox-icon-type-text {
	line-height: 60px;
	font-size: 20px;
}
.pbmit-ihbox-style-10 .pbmit-ihbox-icon-type-image img {
	width: 60px;
	height: auto;
	border-radius: 6px;
}
.pbmit-ihbox-style-10 .pbmit-element-subtitle {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	margin: 0;
	margin-top: 25px;
	padding-top: 25px;
	position: relative;
	border-top: 1px solid rgba(var(--pbmit-xhyre-blackish-color-rgb), 0.1);
}
.pbmit-ihbox-style-10 .pbmit-element-subtitle::before {
	content: '-';
	display: inline-block;
}
.pbmit-ihbox-style-10 .pbmit-element-subtitle a,
.pbmit-ihbox-style-10 .pbmit-element-subtitle {
	color: var(--pbmit-xhyre-global-color);
}
.pbmit-ihbox-style-10 .pbmit-element-subtitle a:hover {
	color: var(--pbmit-xhyre-blackish-color);
}
.pbmit-ihbox-style-10.pbmit-ihbox .pbmit-element-title {
	font-size: 20px;
	line-height: 26px;
	margin: 0;
}
.pbmit-ihbox-style-10 .pbmit-content-wrap {
	padding-top: 10px;
}
/* Bg Color */
.pbmit-elementor-bg-color-light .pbmit-ihbox-style-10 .pbmit-icon-type-icon,
.pbmit-elementor-bg-color-light .pbmit-ihbox-style-10 .pbmit-ihbox-svg-wrapper,
.pbmit-elementor-bg-color-light .pbmit-ihbox-style-10 .pbmit-ihbox-icon-type-text {
	background-color: var(--pbmit-xhyre-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle {
	color: var(--pbmit-xhyre-global-color);
}
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle a,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle a,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle {
	color: var(--pbmit-xhyre-blackish-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-10 .pbmit-element-subtitle,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-10 .pbmit-element-subtitle,
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-10 .pbmit-element-subtitle,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-10 .pbmit-element-subtitle {
	border-top-color:  rgba(var(--pbmit-xhyre-white-color-rgb), 0.1);
}
.pbmit-elementor-bg-color-secondary .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle a,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle a {
	color: var(--pbmit-xhyre-global-color);
}
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle a:hover,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle a:hover,
.pbmit-elementor-bg-color-secondary .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle a:hover,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox.pbmit-ihbox-style-10 .pbmit-element-subtitle a:hover {
	color: var(--pbmit-xhyre-white-color);
}
@media (max-width: 767px) {
	.pbmit-ihbox-style-10 .pbmit-ihbox-contents {
		display: block;
	}
	.pbmit-ihbox-style-10 .pbmit-icon-wrap {
		display: inline-block;
	}
	.pbmit-ihbox-style-10 .pbmit-ihbox-icon {
		margin: 0 0 20px 0;
	}
	.pbmit-ihbox-style-10.pbmit-ihbox .pbmit-element-title {
		font-size: 18px;
		line-height: 24px; 
	}
}
@media (max-width: 575px) {
	.pbmit-ihbox-style-10.pbmit-ihbox .pbmit-element-title {
		font-size: 16px;
		line-height: 24px; 
	}
}